WpfFinanciera/Connected Services/ServicioFinancieraIndependiente/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
      <xs:element minOccurs="0" name="TipoUsuario_idTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="TipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
  <xs:simpleType name="Codigo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXITO" />
      <xs:enumeration value="ERROR_SERVIDOR" />
      <xs:enumeration value="ERROR_BD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Codigo" nillable="true" type="tns:Codigo" />
</xs:schema>