WpfFinanciera/Connected Services/ServicioFinancieraIndependiente/item61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServidorFinancieraIndependiente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServidorFinancieraIndependiente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.56.1:8082/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfSolicitudCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudCredito" nillable="true" type="tns:SolicitudCredito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudCredito" nillable="true" type="tns:ArrayOfSolicitudCredito" />
  <xs:complexType name="SolicitudCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolioCredito" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:double" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RfcCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiempoSolicitud" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudCredito" nillable="true" type="tns:SolicitudCredito" />
  <xs:complexType name="ClienteRFC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaCobro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaDeposito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsDeudor" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rfc" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Telefonos" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteRFC" nillable="true" type="tns:ClienteRFC" />
</xs:schema>