WpfFinanciera/Connected Services/ServicioFinancieraIndependiente/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GuardarPoliticaOtorgamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="politica" nillable="true" type="q1:Politica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPoliticaOtorgamientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="GuardarPoliticaOtorgamientoResult" type="q2:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPoliticas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPoliticasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarPoliticasResult" type="q3:ValueTupleOfCodigoArrayOfPoliticaglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ValidarUsuarioResult" type="q4:ValueTupleOfUsuarioCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsCorreoUnico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsCorreoUnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="EsCorreoUnicoResult" type="q5:ValueTupleOfCodigobooleanb9iN3L_Pt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="usuario" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="GuardarUsuarioResult" type="q7:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTiposUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTiposUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarTiposUsuarioResult" type="q8:ValueTupleOfArrayOfTipoUsuarioCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarReferenciasTrabajo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarReferenciasTrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarReferenciasTrabajoResult" type="q9:ValueTupleOfArrayOfReferenciaTrabajoCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCondicionCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="condicionCredito" nillable="true" type="q10:CondicionCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCondicionCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="GuardarCondicionCreditoResult" type="q11:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCondicionesCreditoActivas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCondicionesCreditoActivasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ObtenerCondicionesCreditoActivasResult" type="q12:ValueTupleOfCodigoArrayOfCondicionCreditoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInformacionSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="credito" nillable="true" type="q13:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInformacionSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="GuardarInformacionSolicitudResult" type="q14:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesCredito">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ObtenerSolicitudesCreditoResult" type="q15:ValueTupleOfCodigoArrayOfSolicitudCreditoHiDJ2AUE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCreditosRegistrados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCreditosRegistradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarCreditosRegistradosResult" type="q16:ValueTupleOfArrayOfCreditoCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTodosDetallesCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTodosDetallesCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarTodosDetallesCreditoResult" type="q17:ValueTupleOfCreditoCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarRfcClienteUnico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfcCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarRfcClienteUnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ValidarRfcClienteUnicoResult" type="q18:ValueTupleOfbooleanCodigo2hGfKC_Pq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInformacionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="cliente" nillable="true" type="q19:Cliente" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="referenciaTrabajo" nillable="true" type="q20:ReferenciaTrabajo" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="referenciaCliente" nillable="true" type="q21:ArrayOfReferenciaCliente" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="documentos" nillable="true" type="q22:ArrayOfDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInformacionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="GuardarInformacionClienteResult" type="q23:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientePorRFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClientePorRFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="BuscarClientePorRFCResult" type="q24:ValueTupleOfCodigoClienteRFCHiDJ2AUE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClientesRegistrados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarClientesRegistradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarClientesRegistradosResult" type="q25:ValueTupleOfArrayOfClienteCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTodosDetallesCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTodosDetallesClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarTodosDetallesClienteResult" type="q26:ValueTupleOfClienteCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarDetallesClienteFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarDetallesClienteFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarDetallesClienteFormularioResult" type="q27:ValueTupleOfClienteCodigoglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInformacionCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="clienteActualizado" nillable="true" type="q28:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarInformacionClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="ActualizarInformacionClienteResult" type="q29:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarDictamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="dictamen" nillable="true" type="q30:Dictamen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarDictamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="GuardarDictamenResult" type="q31:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPoliticasChecklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folioCredito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarPoliticasChecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarPoliticasChecklistResult" type="q32:ValueTupleOfCodigoArrayOfPoliticaglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarChecklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folioCredito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarChecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecuperarChecklistResult" type="q33:ValueTupleOfCodigostringb9iN3L_Pt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarChecklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="checklist" nillable="true" type="q34:Checklist" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaIdPoliticas" nillable="true" type="q35:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarChecklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DatosFinancieraIndependiente" minOccurs="0" name="GuardarChecklistResult" type="q36:Codigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerChecklists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerChecklistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ObtenerChecklistsResult" type="q37:ValueTupleOfCodigoArrayOfChecklistglhsIKFj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>